*               hard    nofile          {{ ulimit_hard }}
*               soft    nofile          {{ ulimit_soft }}
root            hard    nofile          {{ ulimit_hard }}
root            soft    nofile          {{ ulimit_soft }}
