###############################################################################
# contacts.cfg
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# In this simple config file, a single contact will receive all alerts.

{% for v in nagios3.contact %}
define contact{
        contact_name                    {{ v.name|default("root") }}
        alias                           {{ v.alias|default("Root") }}
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,r
        service_notification_commands   {{ v.service_notification_commands|default("notify-service-by-email") }}
        host_notification_commands      {{ v.host_notification_commands|default("notify-host-by-email") }}
        email                           {{ v.email|default("root@localhost") }}
{% if v.pager is defined %}
        pager                           {{ v.pager }}
{% endif %}
        }

{% endfor %}


###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

{% for v in nagios3.contactgroup %}
define contactgroup{
        contactgroup_name       {{ v.name|default("admins") }}
        alias                   {{ v.alias|default("Nagios Administrators") }}
        members                 {{ v.members|default("root") }}
        }

{% endfor %}
